@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.active {
  @apply text-orange-500;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
  list-style: none; /* Ensure no bullet points */
}

.pagination a {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
}

.pagination a:hover {
  background: #eee;
}

.pagination li.activePagination a {
  background: rgb(251, 100, 0);
  color: #fff;
  border-color: rgb(251, 100, 0); /* Match the border color to the background */
}

/* Optional: adding a transition for smooth hover effect */
.pagination a,
.pagination li.activePagination a {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.active-button{
  color: #fc3c1a; 
  
}